@{
    ViewData["Title"] = "Administration Page";
}

<div class="text-center">
    <h1 class="display-4">Your Directory Administration</h1>
    
</div>
<div>
    <a class=" btn btn-block" asp-controller="Categories" asp-action="Index">Categories</a>
    <a class=" btn btn-block" asp-controller="Shops" asp-action="Index">Shops</a>
    <a class=" btn btn-block" asp-controller="ShopTypes" asp-action="Index">Shop Types</a>
    <a class=" btn btn-block" asp-controller="Shopitems" asp-action="Index">Shop Items</a>
    <a class=" btn btn-block" asp-controller="Itemstosales" asp-action="Index">Items to sale</a>
    <a class=" btn btn-block" asp-controller="Joboffers" asp-action="Index">Job offers</a>
    <a class=" btn btn-block" asp-controller="Joboffers" asp-action="Index">Job requests</a>
    <a class=" btn btn-block" asp-controller="Referencepoints" asp-action="Index">Reference points</a>
    <a class=" btn btn-block" asp-controller="Banners" asp-action="Index">Banners</a>

    <a class=" btn btn-block" asp-controller="Offers" asp-action="Index">Offers</a>



</div>
